<div class="live">
	<div class="container_16">
		<div class="grid_16">
         <h3>Live feed</h3>
         <ul class="nav nav-pills pull_right">
         	<li class="active">
		    <%= link_to 'Home', root_path %>
		    </li>
		    <li>
		    <%= link_to 'Recent', recent_path %>
		    </li>
		    <li><%= link_to 'Buy', buy_path %></li>
		    <li><a href="#">Popular</a></li>
	    </ul>
	    <div class="cart">
	    	
	    </div>
		</div>
    </div>
</div>