<%if user_signed_in?%>
<div class="container_16">
    <div class="grid_16">
        <div class="index">

          <div id="pins">
  			<%= render @pins %>     
          </div>

		</div>
	
	    <%= will_paginate @pins %>
    <div>
</div>
 
<%else%>

<%= render ('pages/home')%>

<%end %>
  


        