<%if user_signed_in?%>
<%= render 'feed'%> 
<div class="container_16">
  <div class="grid_16">
    <div class="index">
		<div id="pins">

			<%= render @pins%>     
		</div>

		<div>
		    <%= will_paginate @pins %>
		</div>
	</div>
  </div>
</div>
 
<%else%>

<%= render ('pages/home')%>

<%end %>
  


        