<%if user_signed_in?%>
<div class="container_12">
            <div class="grid_12">
	            <div class="index">

	              <div id="pins">
	      			<%= render @pins %>     
	              </div>

				 </div>
				
			</div>
			<%= will_paginate @pins %>
  </div>
 
<%else%>
	   <div class="container_16">
		<div class="grid_16">
			<div class="leading">
			    <h1> Organize the thing you love </h1>
			</div>

			<div class=" grid_8 alpha">
				<div class="computer">
					<%= image_tag "computer.png"%>
				</div>
			</div>

			<div class= "grid_8 omega">
				<div class ="leading2 hero_unit">
				    <p> Collect , save and share with your friends and persons you cared about. </p>
			    </div>
			</div>
 

			<div id="main_action" class="grid_4 prefix_4 suffix_4">
	            <%= link_to 'Join for free', login_path, class: "btn-large-primary"%>
	        </div>


		</div>

	</div>
<%end %>
  


        