<%= render 'feed'%> 
<div class="container_16">
  <div class="grid_16">
    <div class="index">
		<div id="pins">
		  <%= render @popular%>     
		</div>

		<div>
		   <%= will_paginate @popular %>
		</div>
	</div>
  </div>
</div