
<div class="container_12">
	<div class="grid_12">
		<div class="pin_account grid_6 prefix_3 suffix_3">

		<div class="well">
			
			  <p class="form_sub"><%= @pin.description %></p>

			  <% if user_signed_in? %>
			  <%= link_to 'Edit', edit_pin_path(@pin) %> |
	          <%= link_to 'Back', pins_path %>
	        <%end%>

			</div>
		
	
		</div>

	</div>

</div>