<div class="main_front">
  <div class="container_16">
      <div class="grid_16">
        <div class="grid_6 alpha">
          <div class="main_col">
            <%= image_tag "front_text.png"%>
            <!--<h1>Organize your picture</h1>
            <h3>save and share with the people you care</h3>-->
            <%= link_to 'Create my free account', login_path, class: "call_to_action"%>
          </div>
        </div>
        <div class="grid_9 omega ">
          <div class="computer">
            <%= image_tag "computer2.png"%>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="how_it_works">
  <div class="container_16">
    <div class="grid_16">
      <h1>How it work .</h1>
    </div>
  </div>
</div>

      
