
                        <div class="facebook">
                            <h3 class="form_title">Log in with Facebook</h3>
                            <p class="form_sub">It's fast and easy</p>
                            <div class="facebook_btn">
                               <a href="" ><%= image_tag("facebook.png")%> log in with Facebook </a>
                            </div>
                            <p class="form_sub">we will never post anything without permision</p>


                        </div>
                        <div class="twitter_connect">
                            <h3 class="form_title">Log in with Twitter</h3>
                            <p class="form_sub">It's fast and easy</p>
                            <div class="twitter_btn">
                               <a href="" ><%= image_tag("twitter.png")%>  log in with Twitter </a>
                            </div>
                            <p class="form_sub">we will never post anything without permision</p>

                        </div>


                  