// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    min-height:100%;
    background-color: rgb(231,229,230);
	padding-top:63px;

}

.main_front{
   height:350px;
   width:100%;
   background:url('diagmonds.png')repeat-x;   
}

.main_col{
    width:400px;
}
.main_col img{
    margin-top:50px;
    margin-bottom:45px;
}

a.call_to_action{
    background-color:rgb(255,64,0);
    width:220px;
    height:46px;
    padding:10px 30px;
    font-size:20px;
    color:rgb(255,255,255);
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow:0px 1px 2px 0px rgba(33,30,31,0.3);
    -webkit-box-shadow:0px 1px 2px 0px rgba(33,30,31,0.3);
    box-shadow:0px 1px 2px 0px rgba(33,30,31,0.3);
    text-decoration:none; 
    margin-top:80px;  

}
a.call_to_action:hover {
    background-color:rgb(255,91,36);
    text-decoration:none;
    color:#ffffff;
}
a.call_to_action:active {
    position:relative;
    top:1px;
    color:#ffffff;
}

.main_col h1{
    font-family:'Source Sans Pro', sans-serif;
    font-size:49px;
    line-height:120%;
    color:rgb(255,255,255);
    text-align:left;
    text-shadow:0px 2px 1px rgba(0,0,0,0.19);

}
.main_col h3{
    font-family:'Source Sans Pro', sans-serif;
    font-size:30px;
    line-height:120%;
    color:rgb(255,255,255);
    text-align:left;

}
.how_it_works{
    height:450px;
    background-color:rgb(232,234,237);;
    display:block;
    border-bottom:1px solid rgb(204,204,204);
}

h1.how_itlead{
  text-align:center;
  margin:35px 0px 30px 0px; 
  font-size:45px;
  font-family:'oswald',sans-serif;
  margin-left:5px; 
  color:#444;
} 

h1.how_itlead span img{
    padding-right:8px;
}
.color_bar_one{
    width:229px;
    height:4px;
    background-color:rgb(235,91,77);
    display:block;
}

.color_bar_two{
    width:229px;
    height:4px;
    display:block;
    background-color:rgb(255,211,100);
}

.color_bar_three{
    width:229px;
    height:4px;
    display:block;
    background-color:rgb(58,116,234);

}

h3.bar_orange{
    font-family:Oswald;
    font-size:45px;
    line-height:120%;
    color:rgb(235,91,77);
    text-align:center;
    padding-top: 10px;
    text-transform:capitalize;
}

h3.bar_yellow{
    font-family:Oswald;
    font-size:45px;
    line-height:120%;
    color:rgb(255,211,100);
    text-align:center;
    text-transform:capitalize;
}

h3.bar_blue{
   font-family:Oswald;
   font-size:45px;
   line-height:120%;
   color:rgb(58,116,234);
   text-align:center;
   text-transform:capitalize;

}


.main_bar{
    background-color:rgb(255,255,255);
    -moz-box-shadow:0px 1px 2px 0px rgba(33,30,31,0.2);
    -webkit-box-shadow:0px 1px 2px 0px rgba(33,30,31,0.2);
    box-shadow:0px 1px 2px 0px rgba(33,30,31,0.2);
    width: 179px;
    height:184;
    padding:25px
}

.main_bar img{
  margin-left:40px;
}

.arrow_one img{
    position: absolute;
    left: 480px;
    bottom: -50px;
}

.arrow_two img{
   position: absolute;
    right: 498px;
    bottom: -50px; 
}
.wrapper{
  margin-left:45px;
}

.index{
    margin-top:10px;
}
index2{
    margin-top:25px;
}

.hero_unit{
    padding: 15px 15px 5px 15px;
    background-color:rgba(255,255,255, 0.7);
	margin-top:0px;
	border-color:rgb(221,221,221);
	border-width:1px;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	border-style:solid;
	-moz-box-shadow:1px 1px 1px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 1px 0px rgba(0,0,0,0.2);
	box-shadow:1px 1px 1px 0px rgba(0,0,0,0.2);
	
}
.btn_wrapper{
   position:absolute;
   top: 20px;
   right: 0px;
   margin-right: 10px;
   display :none    
}

.pin_image:hover  .btn_wrapper{
    display:block
}
.pin_image a img:hover{
    opacity:0.9;
}

.box{
  margin:5px;
  padding:5px;
  font-size:11px;
  line-height: 1.4em;
  float:left;
  box-shadow: 0px 1px 2px rgba(34, 25, 25, 0.4);
  border-radius: 3px 3px 3px 3px;
  width:214px;
  background-color:rgb(255,255,255)

}
.box2{
  margin:5px;
  padding:5px;
  font-size:11px;
  box-shadow: 0px 1px 2px rgba(34, 25, 25, 0.4);
  border-radius: 3px 3px 3px 3px;
  width:357px;
  background-color:rgb(255,255,255);
  
  
}

.box img{
    display:block;
    width:100%;
}
.box img:hover{
  opacity: 1;
    color: #666;

}

.text_lead{
	font-family:"Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
	font-size:48px;
	line-height:95%;
	color:rgb(68,68,68);
	text-align:center;
	text-shadow:-1px -2px 4px rgba(0,0,0,0.65);
	padding-bottom: 25px;
	border-bottom: 1px solid #E7E5E6;

}

.btn-large-primary {
    -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background-color:#f24537;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:17px;
    font-weight:bold;
    padding:13px 38px;
    text-decoration:none;
    text-shadow:1px 1px 0px #810e05;
    margin-bottom:60px;

}
.btn-large-primary:hover {
    background-color:#c62d1f;
    text-decoration:none;
    color:#ffffff;
}
.btn-large-primary:active {
    position:relative;
    top:1px;
    color:#ffffff;
}


#main_action{
	margin-top: 55px;
	margin-left: 135px;
	margin-bottom: 20px;
}

#footer{
	margin-top: 45px;
}

#login_form {
    width: 100%;
    height: 655px;
    padding-top: 45px;
}
.new_account {
    background-color: rgb(255,255,255);
    width: 280px;
    padding: 20px 20px 20px 20px;
    border-color: rgb(204,204,204);
    border-width: 1px;
    -moz-border-radius:7px;
    border-radius:7px;
    border-style: solid;
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
}

.pin_account {
    background-color: rgb(255,255,255);
    width: 280px;
    padding: 20px 20px 20px 20px;
    border-color: rgb(204,204,204);
    border-width: 1px;
    -moz-border-radius:7px;
    border-radius:7px;
    border-style: solid;
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    margin-top:50px;
}


.new_account i {
    font-family: Arial, Helvetica, sans-serif;
    font-size :10px;
    ma-bottom:5px;
}

p.link{
  margin_top:8px;
  margin_bottom:8px;
}

.new_account p{
   /*font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 120%;
    color: rgb(68, 68, 68);
    font-weight: bold;
    text-transform: capitalize;


   
}

.top_gravatar{
    width:16px;
    height:16px;
    float: left;
    padding-right:2px;
    padding-left: 2px;
}

.new_account h2{
    /*font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 120%;
    color: rgb(68, 68, 68);
    font-weight: bold;
    text-transform: capitalize;*/
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 120%;
    font-weight: bold;
    color: rgb(68,68,68);
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;

}
.form_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 120%;
    font-weight: bold;
    color: rgb(68,68,68);
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
}
.form_sub {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 120%;
    color: rgb(153,153,153);
    text-align: left;
    margin-bottom: 10px;
}
.form_sub strong{
    color: #1B1B24;
}
.btn-red {
   background-image: linear-gradient(rgb(214, 34, 41), rgb(171, 23, 30));
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.34);
    background-color: rgb(171, 23, 30);
    border: 1px solid rgb(146, 12, 18);
    color: rgb(255, 255, 255);
    text-shadow: 0px -1px rgba(0, 0, 0, 0.11);
    font-family:"Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
    text-decoration: none;
    font-size: 1px;
    text-transform: capitalize;
    padding: 6px;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
 
}

.btn-red:active{
    background-image: linear-gradient(rgb(187, 22, 24), rgb(226, 33, 35));
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.5) inset;
    background-color: rgb(226, 33, 35);
    border-color: rgb(153, 22, 27);
    text-shadow: 0px 1px rgba(0, 0, 0, 0.6);

}

.btn-blue{
background-image:-moz-linear-gradient(50% 0% -90deg,rgb(0,177,236) 0%,rgb(4,159,210) 100%); 
background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(0,177,236)),color-stop(1, rgb(4,159,210)));
background-image:-webkit-linear-gradient(-90deg,rgb(0,177,236) 0%,rgb(4,159,210) 100%);
background-image:linear-gradient(-90deg,rgb(0,177,236) 0%,rgb(4,159,210) 100%);
box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.34);
    background-color: rgb(171, 23, 30);
    border: 1px solid rgb(146, 12, 18);
    color: rgb(255, 255, 255);
    text-shadow: 0px -1px rgba(0, 0, 0, 0.11);
    font-family:"Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
    text-decoration: none;
    font-size: 1px;
    text-transform: capitalize;
    padding: 6px;
    cursor: pointer;
    display: block;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    
}

a.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 120%;
    color: rgb(255,255,255);
    text-decoration: none;
    font-weight: normal;
}
/*input[type="email"],
input[type="text"],
input[type="password"] {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width: 239px;
    height: 27px;
    margin-top: 6px;
    margin-bottom: 10px;
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
    font-size: 12px;
    font-weight: normal;
    padding-left: 3px;
    
}
textarea {
  height:auto;
    
}


label.checkbox { }
label,
input,
button,
select,
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 120%;
    color: rgb(68,68,68);
    font-weight: bold;
    text-transform: capitalize;
}*/

.header_search{
    margin-top:15px;
    padding-left:10px;
}

#social_connect {
    background-color: transparent;
    width: 154px;
    height: 263px;
    border-color: rgb(204,204,204);
    border-width: 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border-style: solid;
    padding: 41px 40px 45px 25px;
    float: right;
}
.twitter_connect { margin-top: 40px }
.twitter_btn {
    background-color: rgb(29,202,255);
    padding: 3px 12px;
    margin-bottom: 8px;
}
.twitter_btn a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 120%;
    color: rgb(255,255,255);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    padding:0p;
}
.twitter_btn a img { margin-left: -5px }
.facebook_btn {
    background-color: rgb(59,89,152);
    padding: 3px 12px;
    margin-bottom: 8px;
}
.facebook_btn a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 120%;
    color: rgb(255,255,255);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
.facebook_btn a img {
    margin-left: -5px;
    margin-right: 2px;
}
.agreed {
    color: #999999;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.retrieve a {
    color: rgb(0, 150, 187);
    text-decoration: none;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.agreed a {
    color: rgb(0, 150, 187);
    text-decoration: none;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.checkbox {
    font-size: 11px;
    font-weight: normal;
}

a{
color: rgb(0, 150, 187);
    text-decoration: none;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

.leading h1{
    font-family:Cabin;
    font-size:44px;
    line-height:120%;
    font-weight:bold;
    color:#FF4000;
    text-align:center;
    margin-top:56px;
    margin-bottom:90px;
    text-transform:capitalize;
    vertical-align:baseline;

}

.leading2 p{
    font-family:Cabin;
    font-size:44px;
    line-height:120%;
    font-weight:bold;
    color:rgb(54, 54, 54);
    text-align:center;
    margin-top:0px;
    margin-bottom:30px;
    text-transform:capitalize;
    
}
.grid_8{
    margin-bottom:60px;
}

.computer img{
   margin:65px 0px 0px 30px;
}

.right_col{
    padding-top:45px;
}

.front_bigtext{
    font-family: 'Oswald', sans-serif;
    font-size:33px;
    line-height:120%;
    color:rgb(255,255,255);
    text-align:left;
    text-transform:uppercase;
    background-color:rgba(0,0,0,0.60);
    width:446px;
    height:47px;
    padding:8px 8px 2px 10px;
    margin-bottom:2px;
}
.front_sub{
    font-family: 'Oswald', sans-serif;
    font-size:28px;
    line-height:120%;
    color:rgb(255,255,255);
    text-align:left;
    background-color:rgba(0,0,0,0.60);
    width:390px;
    height:32px;
    padding:10px 10px 10px 10px;
    text-transform:uppercase;


}

.form_account {
    background-color: rgb(255,255,255);
    width: 250px;
    padding: 20px 20px 20px 20px;
    border-color: rgb(204,204,204);
    border-width: 1px;
    border-style: solid;
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
}

.footer_text{
    font-size:12px;
    line-height:120%;
    text-align:left;
    color:#444;
}

.profile_account{
    background-color: rgb(255,255,255);
    width: 214px;
    padding: 20px 20px 20px 20px;
    border-color: rgb(204,204,204);
    border-width: 1px;
    border-style: solid;
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2;
}
.pin_title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 120%;
    color: rgb(153,153,153);
    text-align: left;
    margin-bottom: 3px;
    margin-top:5px;
    text-transform:capitalize;
    border-top:1px solid #DDDDDD;
    padding-top:5px;
    padding-bottom: 5px;
            
}  

.pin_sub {
    font-family: 'Helvetica neue','helvetica',sans-serif;
    font-size: 10px;
    line-height: 120%;
    color: rgb(153,153,153);
    text-align: left;
    margin-bottom:3px;
    
}

.activity_sub {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 120%;
    color: rgb(153,153,153);
    text-align: left;
    margin-bottom: 10px;
    border-bottom: 1px solid #CCCCCC;
}
.price{
    position:absolute;
    top:20px;
    background-color:rgb(178,0,0);
    height:14px;
    padding:3px;
    font-family:Oswald;
    font-size:11px;
    line-height:120%;
    color:rgb(255,255,255);
    text-align:right;
}


.top-gravatar{
  width:25px;
  height:25px;
  float:left;
  padding-right:14px;
 
}

.user_info{
  color: rgb(153,153,153); 
  font-size:10px;

}

.media_box{
    padding-bottom:7px;
    border-top: 1px solid #DDDDDD;
    border-bottom:1px solid #DDDDDD;
    padding-top:3px;

}

.media_box:hover{
    display:block;
    background-color:#ddd;
}

.pin_action{
    float:right;

}
.pin_action a img{
   margin-top:3px; 
}

.follow_widget{
    background-color:rgb(255,255,255);
    width:100%;
    height:80px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
    border-style:solid;
    border-color: rgb(204, 204, 204);
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    margin-left:5px;
    padding: 3px 0px 3px 0px;

}

.right_widget{
   background-color: white;
    width: 215px;
    height: 35px;
    border-radius: 1px 1px 1px 1px;
    border-color: rgb(204, 204, 204);
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    margin-left: 5px;
    padding: 25px;

}
.right_widget ul {
    margin_top:10px;
}

.follow_widget img.img-circle{
    width:80px;
    height:80px;
    margin-right:18px;
    margin-left:14px;
    float:left
}

.widget_info h1{
    font-family:'helvetica neue', helvetica , arial;
    font-size:19px;
    line-height:120%;
    color:rgb(85,85,85);
    text-align:left;
    text-transform:capitalize;
    margin-top:2px;
}

.widget_info p{
    font-family:'helvetica Neue', helvetica, Arial ;
    font-size:13px;
    color:rgb(84,84,84);
    text-align:left;
    margin-top:-10px;
    margin-bottom:20px;
    height:15px;

}

.widget_info h3{
    font-family:'helvetica Neue', helvetica, Arial ;
    font-size:12px;
    line-height:120%;
    color:rgb(84,84,84);
    text-align:left;
    text-transform:capitalize;
    font-weight: normal;

}
.widget_info span.pin_posted{
    font-family:'helvetica Neue', helvetica, Arial ;
    font-size:11px;
    line-height:120%;
    color:rgb(84,84,84);
    text-align:left;
    text-transform:capitalize;   
    margin-left:15px;
    margin-top:-5px;
    font-weight:normal;
}

.widget_info img{
    width:10px;
    height:14px;
    padding-right:2px;
    margin-top:-3px;
}
.index3{
    margin-top:105px;
}

.pin_display{
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(241, 241, 241, 0.9)) repeat scroll 0% 0% transparent;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    display: block;
    vertical-align: middle;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
    cursor: default;
    height: 20px;
    padding: 5px 10px 6px;
    top: 0px;
    width: 680px;

}

.pin_main{
    background-color:rgb(255,255,255);
    width:700px;
    height:100%;
    border-color:rgb(204,204,204);
    border-width:1px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
    border-style:solid;
    padding-top:35px;
    padding-bottom:35px;
    text-align:center; 
    line-height:200px;
    
}
.like{
   margin-left:310px;
    line-height:30px;
}

.follower{
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(241, 241, 241, 0.9)) repeat scroll 0% 0% transparent;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    display: block;
    vertical-align: middle;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
    cursor: default;
    height: 20px;
    padding: 5px 10px 6px;
    top: 0px;
    width:216px;
    
}
.follower h3{
    font-size:18px;
    font-family:'helvetica', arial ,sans-serif;
    font-weight:normal;
    text-align:left;
    margin-left:15px;
    margin-bottom:5px;
}

.follower_grid{
    background-color:rgb(255,255,255);
    width:216px;
    height:100%;
    border-color:rgb(204,204,204);
    border-width:1px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
    border-style:solid;
    padding: 5px 10px 6px;
}
.pin_image a:hover{
    cursor: -moz-zoom-in;
    
}

.btn .pull_right a img{
    marging-top:-5px;
}
.back{
 float:right;
} 

.pin_info{
   background-color:rgb(255,255,255);
    width:700px;
    height:65px;
    border-color:rgb(204,204,204);
    border-width:1px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
    border-style:solid;
    padding-top:10px;
    padding-bottom:15px;     
}

.pin_info img{
    width:53px;
    height:53px;
    padding:5px 10px 0px 25px;
}

.comment_info{
   background-color:rgb(255,255,255);
    width:700px;
    height:100%;
    border-color:rgb(204,204,204);
    border-width:1px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
    border-style:solid;
    padding-top:15px;
}
.comment_info img{
    width:53px;
    height:53px;
    padding:5px 10px 0px 25px;
}

.pin_creation{
    margin-left: 90px;
    font-size: 13px;
    margin-top: -65px;
    font-family: 'helvetica neue',helvetica,arial;
}  

span.time{
  font-size:13px;
  color: rgb(153, 153, 153);
  font-weight:normal; 
  
}
form#new_comment.new_comment{
  margin: -18px 90px 20px;  
}

#new_comment h3{
  display:none;
}

#new_comment p{
  margin: 0px 0px 3px;  
}

textarea#comment_body.grid_10{
    margin-:20px;
}

.btn_follows{
    position: relative;
    top: -35px;
    right: 0px;
    float: right;
    margin-right: 15px;

} 
.follow_count{
    margin-left:120px;
    font-size:13px;
    font-weight:normal;
}

.right_widget p.goal{
    margin-right: 5px;
    border-right: 1px solid rgb(204, 204, 204);
    padding-right:10px;
    display:inline-block;
    font-size:15px;
}

.right_widget p.percent-funded{
    margin-right: 5px;
    border-right: 1px solid rgb(204, 204, 204);
    padding-right:15px;
    display:inline-block;
}

.right_widget p.time-remaining{
    margin-right: 5px;
    padding-right:3px;
    display:inline-block;
}

/*.right_widget ul{
    margin-top:2px;

}
.right_widget ul li {
    padding:3px;
    border-bottom:1px solid #e1e5e9;
}
.right_widget ul li:last-child{
    border-bottom:none;
}
.right_widget ul li:hover{
    display:block;
    background-color:rgb(221,221,221);
    cusor:pointer
}*/

.follower_grid ul{
    display:inline-block;
    margin:0px;
}

.follower_grid ul li{
    margin: 0px;
    width: 25px;
    height: 25px;
    display: inline-block;
    padding: 5px 3px;
}

.follower_grid ul li img{
    width:25px;
    height:25px;
}




/********************footer**********************/
#bigfooter{
    background-color:rgb(234,234,234);
    width:100%;
    height:271px;

}
.foo_col{
    margin-top: 45px;
}

.foo_title{
    font-family:'CabinRegular', Helvetica, sans-serif;
    font-size:12px;
    line-height:125%;
    color:rgb(178,0,0);
    text-align:left;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;

}

.foo_description{
    font-family:'CabinRegular', Helvetica, sans-serif;
    font-size:12px;
    line-height:125%;
    color:#999999;
    text-align:left;

}

.foo_col p.foo_description span a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(178,0,0);
}

footer{
    background-color:rgb(178,0,0);
    width:100%;
    height:72px;

}
.copyright{
    font-family:'CabinRegular',helvetica,sans-serif;
    font-size:13px;
    color:rgb(255,255,255);
    text-align:left;
    text-transform: uppercase;
    padding-top: 28px;
    float: right;

}

#foo_menu ul{
    list-style-type: none;
    padding-top: 28px;
    
}

#foo_menu ul li {
    list-style-type: none;
    display: inline;
    margin: 2px;

}
#foo_menu ul li:after {
    content:" | ";
    color:#fff;
    padding-left: 2px;
    
}

#foo_menu ul li:first-child {
    padding-left: 0px;
    margin-left: 0px;

}

#foo_menu ul li:last-child:after {
    content:"";
}

#foo_menu ul li a {
    text-decoration: none;
    font-family:'CabinRegular', helvetica, sans-serif;
    font-size:10px;
    line-height:182%;
    color:rgb(255,255,255);
    text-align:left;
    text-transform: capitalize;
}

.links{
    font-family:'CabinRegular', Helvetica, sans-serif;
    font-size:12px;
    line-height:120%;
    color:rgb(153,153,153);
    text-align:left;
    
}

ul.links{
    list-style-type: none
}
ul.links li{
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 8px;
}
ul.links li a{
    text-decoration: none;
    color:#999999;
}
.wrapper_btn{
   margin-left: 20px;
   margin-top: 15px;
   line-height: 0px;
   margin-bottom: 20px;
}

input.buy.btn.btn-small{
    position: absolute;
    left: 175px;
    bottom: 150px;
}

.live{
  background-color:rgb(255,255,255);
    width:100%;
    height:37px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 3px 0px 3px 0px;
    display:none;
    z-index:1;

}
.live h3{
    line-height:10px;
    float:left;
    margin-right:15px;
    font-size:18px;
    font-family:'helvetica', arial ,sans-serif;
    font-weight:normal;

}

.cart{
 float: right;
 margin-top: -48px;
 margin-right: 10px;
}


.modal-header {
    padding: 30px 15px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

[class^="icon-"], [class*=" icon-"] {
      opacity: 0.7;
}

.btn-red {
    background-color:rgb(137,48,54);
    border: 1px solid rgb(146, 12, 18);
    color: rgb(255, 255, 255);
    text-shadow: 0px -1px rgba(0, 0, 0, 0.11);
    font-family:"Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    padding: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    margin-top:11px;
 
}

.input input.btn-red{
    position: absolute;
    bottom: 18px;
    left: 540px;
    
}

.input input#search {
    background:url();
}

/************ Pin Creation form***************/
.modal_title {
    border-bottom:1px solid rgb(231, 231, 231);
    padding-bottom:5px;
}
.modal_title h3{
  color: rgb(51, 51, 51);
  font-size: 20px;
  white-space: nowrap;
}

.border{
    border-bottom:1px solid rgb(231, 231, 231);
    padding: 17px 18px 13px;
}

.upload_image label{
    padding-right: 30px;
    cursor: pointer;
    text-transform:capitalize;
    font-size:14px;
    font-weight:bold;

}
.by_url label{
    padding-right: 68px;
    cursor: pointer;
    text-transform:capitalize;
    font-size:14px;
    font-weight:bold;  
}
.pin_priceinfo label{
    padding-right: 73px;
    cursor: pointer;
    text-transform:capitalize;
    font-size:14px;
    font-weight:bold;   
}

.pin_description label{
    padding-right: 68px;
    cursor: pointer;
    text-transform:capitalize;
    font-size:14px;
    font-weight:bold; 
}

 a.btn.btn-primary.pull-right{
    margin-left:10px;
}