<div class="container_12">
	<div class="grid_12">
		<div class="index new_account ">
			<h1 class="form_title">Activity feed </h1>
			        <% @activities.each do |activity| %>

			        <div class="activity_sub">
			           
					   <h3>Posted <%= link_to time_ago_in_words(activity.created_at)+" "+ "ago" %></h3>
		               <%= render_activity activity %>
		               </div>
					   
					   <% end %>
					
			   </div>
		</div>
	</div>
</div>


