		<div id="bigfooter">
		            <div class="container_12">
		                <div id="wrapper" class="grid_12">
		                    <div class=" foo_col grid_4 alpha">
		                        <p class="foo_title">what is Pinhub ?</p>
		                        <p class="foo_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin facilisis leo accumsan, consequat est quis, interdum nisl. Nullam id consequat ipsum, et fermentum erat. Nullam porttitor nulla et risus molestie, in porta risus scelerisque. Nunc blandit laoreet justo, eget tincidunt lectus vehicula eget. Nullam erat turpis.</p>
		                        <p class="foo_title">SIGN UP FOR PINHUB UPDATES</p>
		                        <p class="foo_description"><span><a href="http://cancermob.wufoo.com/forms/z7x3p3/">Sign up</a></span> for pinhub emails and receive information about special events, stories and much more. </p>

		                    </div>
		                    <!--<div class=" foo_col grid_4 prefix_4 omega">
		                        <p class="foo_title"> Other quick links </p>
		                        <ul class="links">
		                            <li><a href="#">How it works</a></li>
		                            <li><a href="#">Press and media</a></li>
		                            <li><a href="#">Submit a story</a></li>
		                            <li><a href="#">Be a partner</a></li>

		                        </ul>

		                    </div>-->

		                </div>

		            </div>

		        </div>
		        <footer>
		            <div class="container_12">
		                <div id="wrapper" class="grid_12">
		                    <div id="foo_menu" class="grid_5 alpha">
		                        <ul>
		                            <li><%=link_to 'about',about_path%></li>
		                            <li><a href=""> jobs</a></li>
		                            <li><a href=""> team</a></li>
		                            <li><a href="">privacy policy</a></li>
		                            <li><a href="">Term of use</a></li>

		                        </ul>

		                    </div>
		                    <div class="grid_3 omega prefix_4">
		                        <p class="copyright"> &copy; 2013 PINHUB</p>

		                    </div>

		                </div>

		            </div>

		        </footer>     